.canvasWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.canvas {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  image-rendering: pixelated;
}

  
  @media (max-width: 500px) {
    .canvas {
      max-width: 100%;
    }
  }
    