.inventory {
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../assets/battlepass-bg.png") no-repeat center center / cover;
  padding: 20px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  z-index: 10;
  overflow: hidden;
  border: 4px solid black;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.inventory h1 {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px black;
  background: url("../assets/enter-name-bg.png") no-repeat center;
  background-size: cover;
  padding: 8px 12px;
  border-radius: 10px;
}

.lootContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  width: 80%;
  margin-top: 50px;
  max-height: 400px; /* Чуть больше места */
  overflow-x: auto; /* Добавляем скролл */
  scrollbar-width: thin; /* Уменьшаем ширину скролла */
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent; /* Цвет скролла */
}


.item {
  text-align: center;
  padding: 8px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; // Чтобы счетчик можно было расположить поверх картинки
  width: 80px; // Размер слота предмета (можешь изменить)
  height: 80px;

}

.item:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.3);
}

.item img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 5px;
}

.item span {
  color: white;
  font-size: 14px;
  margin-top: 5px;
}

.itemCount {
  position: absolute;
  top: -5px;  // Отступ сверху
  left: 70px; // Отступ слева
  background-color: rgba(0, 0, 0, 0.7); // Затемненный фон
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 10px;
  min-width: 20px; 
  text-align: center;
}

