.videoContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 375px;
    height: 667px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
  }
  
  .video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  